@fontface {
  font-family: ‘Roboto’, sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

.DetailedPlantPage {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-Index: 10;
  background: #fff;
  width:100%;
  height:100%;
  border: 0;
}

.DetailedPlantPage-content {
  list-style-type: none;
  background-color: #fff;
  border-radius: 5px;
  margin:auto; /* 15% from the top and centered */
  padding: 5%;
  max-width: 80%; /* Could be more or less, depending on screen size */
  min-height: 60vh;
}

.DetailedPlantPage-info {
  list-style-type: none;
  float: left;
  width: 40%;
  padding-bottom: 5%;
}

.DetailedPlantPage-info-box {
  list-style-type: none;
  background-color: #fff;
  margin-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1F3E18;
  float: left;
  width: 80%;
}

.DetailedPlantPage-info-box span {
  width: 7%;
  /*height: 50px;*/
}

.DetailedPlantPage-info h1, h2, h3, h4, h5, h6 {
  color: #1F3E18;
  margin: 0;
}

.DetailedPlantPage-info h1 {
  font-size: 4vh;
}

.DetailedPlantPage-info h3 {
  font-size: 3vh;
}

.DetailedPlantPage-info h4 {
  font-size: 2vh;
}

.DetailedPlantPage-info p {
  float:right;
  font-size: 2vh;
  margin: 0;
}

.DetailedPlantPage-chart {
  float: right;
  width: 60%;
}

.hum-icon, .temp-icon, .lux-icon, .fertility-icon {
  margin-left: 10px;
  float: left;
}
